{% extends 'base.twig.html' %}

{% block content %}
    <div class="container">
    {% for article in articles %}
        <div class="card">
            <div class="card-details">
                <img src="/static/images/{{ article.img }}" class="img-boutique">
                <div class="nom-prix">
                    <p class="text-title">{{ article.nom }}</p>
                    <p class="text-title">{{ article.prix }}</p>
                </div>
                <p class="text-body">{{ article.description }}</p> <br>
                <a href="?uri=offres" class="btn">Ajouter au panier</a>
            </div> 
        </div>
    {% endfor %}
    </div>
{% endblock %}