<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boutique - Chateaudun Basket Sud 28</title>
        <link rel="stylesheet" href="static/styles/styles.css">
        <link rel="icon" href="static/images/bcp-logo.png">
    </head>
    {% include 'header.twig.html' %}
    <nav class="nav-barre">
        <span class="p6">Accueil</span>
        <span class="p8">{% block page_actu %}{% endblock %}</span>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <a onclick="topFunction()" id="scrollToTopButton" title="Haut de page"><img src="static/images/fleche.png" alt="top-button"></a>
    <footer>
        &copy; 2024 - Tous droits réservés - Web4All
    </footer>
    <script src="static/js/script.js"></script>
</body>
</html>
