<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boutique - Chateaudun Basket Sud 28</title>
        <link rel="stylesheet" href="static/styles/styles.css">
        <link rel="icon" href="static/images/bcp-logo.png">
    </head>
    {% include 'header.twig.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; 2025 - Tous droits réservés - BasketSud28
    </footer>
    <script src="static/js/script.js"></script>
</body>
</html>
