<header>
    <a href=""><img src="static/images/logo-lbp-header.png" alt="logo" class="logo"></a>
    <nav class="navbar">
        <div class="burger" id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-links" id="nav-links">
            <div id="left">
                <a href="/" class="navlink">Accueil</a>
                <a href="/?uri=entreprise" class="navlink">Boutique</a>
                <a href="/?uri=offres" class="navlink">Contact</a>
            </div>
            <div id="right">
                <a href="/?uri=wishlist" class="navlink">Panier</a>
                <a href="/?uri=connexion" class="navlink">Connexion</a>
            </div>
        </div>
    </nav>
</nav>
</header>