<header>
    <a href=""><img src="static/images/bcp-logo.png" alt="logo" class="logo"></a>
    <nav class="navbar">
        <div class="burger" id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-links" id="nav-links">
            <div id="left">
                <a href="/" class="navlink">Accueil</a>
                <a href="/?uri=contact" class="navlink">Contact</a>
            </div>
            <div id="right">
                <a href="/?uri=panier" class="navlink">Panier</a>
            </div>
        </div>
    </nav>
</nav>
</header>