/* Style de la page complète */
html {
    font-size: 18px;
    font-family: system-ui;
    scroll-behavior: smooth;
}

/* Style du body */
body {
    background-color: whitesmoke;
}

a {
    color: #F2B705;
    text-decoration: none;
}

.nav-links {
    background-color: #2E4CA6;
    color: #ffffff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.navlink:hover, a.active-page:hover {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}

#right {
    justify-self: end;
}

#left {
    justify-self: start;
}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    height: 7.5rem;
}